#table_section,
#show_detail,
#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (#{$headerHeight} * 2));

  table {
    width: 60%;
  }
}
